/*  your css code here. If applicable */
body{
	background-color:rgb(204,204,204);
}


h1{
	text-align:center;
}

h2{
	text-align:center
}


li{
	list-style-type:none;
	/* padding:2px;
	margin:5px */
}

ul{
	background-color:white;
	padding:10px;
	border:1px solid black;
	border-radius:5px;
}

#song{
	background-color:rgb(255,255,255);
	border:2px solid black;
	border-radius:8px;
	height:460px;
	/* padding:30px */
}

.player_one{
  /* width:500px; */
	/* display:; */
	/* height:300px; */
	/* margin:32px */
	background-color:white;
	padding:20px;
	border-radius:5px;
	height:260px;
	width:520px
}

.player_two{
	background-color:white;
	padding:10px;
	border-radius:5px;
	height:40px;
	width:540px
}

h2{
	text-align:center;
	margin-top:none;
}

a{
	text-decoration-line:none;
}